- content_for :head do
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"


h1 Lean Elevator Challenge

h2 Statistics

h3 Total Transports per Team
= line_chart stats_overall_charts_path

h3 Floor States


h3 Elevator States
